{% for generic in generics %}

class {{ generic.namespace + generic.name }}{{ suffix }}({{core_node_name}}):
    {% if not generic.attributes|default([]) and not generic.relationships|default([]) %}
    pass
    {% endif %}
    {% for attribute in generic.attributes | sort(attribute='name') | default([]) %}
    {{ attribute | render_attribute }}
    {% endfor %}
    {% for relationship in generic.relationships | sort(attribute='name') | default([]) %}
    {{ relationship | render_relationship(sync) }}
    {% endfor %}
    {% if generic.hierarchical | default(false) %}
    {% set relationship_names = generic.relationships | default([]) | map(attribute="name") | list %}
    {% if "parent" not in relationship_names %}
    parent: {{ "RelationshipAttribute" | syncify(sync) }}[{{ generic.namespace + generic.name }}{{ suffix }}]
    {% endif %}
    {% if "children" not in relationship_names %}
    children: {{ "RelationshipManager" | syncify(sync) }}[{{ generic.namespace + generic.name }}{{ suffix }}]
    {% endif %}
    {% endif %}
{% endfor %}


{% for node in nodes %}

class {{ node.namespace + node.name }}{{ suffix }}({{ node.inherit_from | syncify(sync) | join(", ") or core_node_name }}):
    {% if not node.attributes|default([]) and not node.relationships|default([]) %}
    pass
    {% endif %}
    {% for attribute in node.attributes | sort(attribute='name') | default([]) %}
    {{ attribute | render_attribute }}
    {% endfor %}
    {% for relationship in node.relationships | sort(attribute='name') | default([]) %}
    {{ relationship | render_relationship(sync) }}
    {% endfor %}
    {% if node.hierarchical | default(false) %}
    {% set relationship_names = node.relationships | default([]) | map(attribute="name") | list %}
    {% if "parent" not in relationship_names %}
    parent: {{ "RelationshipAttribute" | syncify(sync) }}[{{ node.namespace + node.name }}{{ suffix }}]
    {% endif %}
    {% if "children" not in relationship_names %}
    children: {{ "RelationshipManager" | syncify(sync) }}[{{ node.namespace + node.name }}{{ suffix }}]
    {% endif %}
    {% endif %}

{% endfor %}


{% for node in profiles %}

class {{ node.namespace + node.name }}{{ suffix }}({{ node.inherit_from | syncify(sync) | join(", ") or core_node_name }}):
    {% if not node.attributes|default([]) and not node.relationships|default([]) %}
    pass
    {% endif %}
    {% for attribute in node.attributes | sort(attribute='name') | default([]) %}
    {{ attribute | render_attribute }}
    {% endfor %}
    {% for relationship in node.relationships | sort(attribute='name') | default([]) %}
    {{ relationship | render_relationship(sync) }}
    {% endfor %}
    {% if node.hierarchical | default(false) %}
    {% set relationship_names = node.relationships | default([]) | map(attribute="name") | list %}
    {% if "parent" not in relationship_names %}
    parent: {{ "RelationshipAttribute" | syncify(sync) }}[{{ node.namespace + node.name }}{{ suffix }}]
    {% endif %}
    {% if "children" not in relationship_names %}
    children: {{ "RelationshipManager" | syncify(sync) }}[{{ node.namespace + node.name }}{{ suffix }}]
    {% endif %}
    {% endif %}

{% endfor %}


{% for node in templates %}

class {{ node.namespace + node.name }}{{ suffix }}({{ node.inherit_from | syncify(sync) | join(", ") or core_node_name }}):
    {% if not node.attributes|default([]) and not node.relationships|default([]) %}
    pass
    {% endif %}
    {% for attribute in node.attributes | sort(attribute='name') | default([]) %}
    {{ attribute | render_attribute }}
    {% endfor %}
    {% for relationship in node.relationships | sort(attribute='name') | default([]) %}
    {{ relationship | render_relationship(sync) }}
    {% endfor %}

{% endfor %}