{% if data.BuiltinTag.edges and data.BuiltinTag.edges is iterable %}
{% for tag in data["BuiltinTag"]["edges"] %}
{% set tag_name = tag.node.name.value %}
{% set tag_description = tag.node.description.value %}
{{ tag_name }}
   description: {{ tag_description }}
{% endfor %}
{% endif %}