[tool.poetry]
name = "{{ project_name }}"
version = "0.1.0"
description = "Infrahub Repository"
authors = []
readme = "README.md"
{% if package_mode %}
packages = [
    { include = "lib" }
]
{% else %}
package-mode = false
{% endif %}

[tool.poetry.dependencies]
python = ">=3.9,<=3.13.1"
infrahub-sdk = { extras = ["all"], version = "*" }
invoke = "*"

[tool.poetry.group.dev.dependencies]
ruff = "*"
pytest = "*"
infrahub-testcontainers = "*"
pytest-asyncio = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
