[tool.poetry]
name = "{{ project_name }}"
version = "0.1.0"
description = "Infrahub Repository"
authors = []
readme = "README.md"
{% if package_mode %}
packages = [
    { include = "lib" }
]
{% else %}
package-mode = false
{% endif %}

[tool.poetry.dependencies]
python = ">=3.9,<3.13"
infrahub-sdk = {extras = ["ctl"], version = "^1.7.2"}

[tool.poetry.group.dev.dependencies]
ruff = "^0.9.10"
pytest = "^8.3.5"
infrahub-testcontainers = "^1.1.8"
pytest-asyncio = "^0.25.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
